<div class="modal-dialog ">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title" id="myModalLabel">查看</h4>
		</div>
		<div class="modal-body">
			<foreach name="list" item="v" key="k">
				<div class="form-group">
					<label for="{$k}">{$k}：</label>
					<div>
					<if condition="strtolower($k)=='url'">
						<a href="{$v}" target="_blank">{:htmlspecialchars($v)}</a>
					<else/>
						{:htmlspecialchars($v)}
					</if>
					</div>
				</div>
			</foreach>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
		</div>
	</div>
</div>