<extend name="Public/common"/>
<block name='content'>
	<div class="panel panel-success">
		<div class="panel-heading">
			<button id="updateitem" type="button" class="btn btn-warning hide" disabled>修改</button>
			<button id="delitem" type="button" acurl="{:U('del')}" class="btn btn-danger " data-tb="{$res['config']['TableName']}" disabled>删除</button>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover">
				<thead>
					<th >
						<input type="checkbox" id="select-all"></th>
						<foreach name="res.config.Fields" item="v" key="k">
						<th class="text-center" >
							<if condition="$res['config']['FieldsNote'][$k]">
								{$res['config']['FieldsNote'][$k]}
							<else />
								{$res['config']['Fields'][$k]}
							</if>
						</th>
						</foreach>
					<th  class="text-center" >收录时间</th>
					<th class="text-center">操作</th>
				</thead>
				<tbody >
					<foreach name='res.list' item='v'>
						<tr>
							<td >
								<input type="checkbox"  class="check-item" value="{$v['Id']}"></td>
							<foreach name="res.config.Fields" item="vk" key="k">
								<td  class="text-center record">
									{$v[$vk]}
								</td>
							</foreach>
							<td  class="text-center">{:date('Y/m/d H:i',$v['SYS_AddTime'])}</td>
							<td  class="text-center">
								<a target="_blank" href="{:U('record',array('id'=>$v['Id']))}" >查看记录</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
		<div class="page pull-right">{$res['page']}</div>
	</div>
</block>
<block name="css">
	<style>
	td {
		max-width: 160px !important;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	</style>
</block>
<block name="js">
	<script type="text/javascript">

	$(function(){
		initPagination();
	})
</script>
</block>