<extend name="Public/login"/>
<block name='content'>
    <div class="modal-dialog modal-md">
    	<div class="modal-content ">
			<div class="modal-header text-center">
				<h3 class="modal-title" id="myModalLabel">{$title}</h3>
			</div>
			<form action="{:U('login')}" class="form-horizontal" method="post" onsubmit="return false;">
				<div class="modal-body">
					<div class="form-group ">
						<div class="col-sm-offset-1 col-sm-10">
							<input type="text" class="form-control" id="Name"  name="Name" placeholder="用户名" required></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<input type="password" class="form-control" id="PWD"  name="PWD" placeholder="密码" required></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-5 text-left">
							<button type="submit" class="btn btn-success">登录</button>
						</div>
						<div class="col-sm-5 text-right">
							<a href="{:U('encriptpwd')}" target="_blank">获取密码</a>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group"></div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="js">
	<script>
	$(function(){
		$('form').on('submit', function(event) {
			ajaxbypost($(this).attr('action'),$(this).serialize(),function(res){
				if (!res||res.status==0) {
					showerrormsg(res.data,1,900);
					return false;
				}
				showsuccessmsg('登录成功！',1,900);
				window.location.href="{:U('Index/index')}";
				return false;
			},'json');
			return false;
		});
	});
	</script>
</block>