<extend name="Public/login"/>
<block name='content'>
    <div class="modal-dialog modal-md">
		<div class="modal-content ">
			<div class="modal-header text-center">
				<h3 class="modal-title" id="myModalLabel">{$title}</h3>
			</div>
			<form action="{:U('savepwd')}" class="form-horizontal" method="post" onsubmit="return false;">
				<div class="modal-body">
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<input type="password" class="form-control"   name="OPWD" placeholder="原密码" required></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-10">
							<input type="password" class="form-control"  name="PWD" placeholder="新密码" required></div>
					</div>
					<div class="form-group">
						<div class="col-sm-offset-1 col-sm-5 text-left">
							<button type="submit" class="btn btn-success">保存</button>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<div class="form-group"></div>
				</div>
			</form>
		</div>
	</div>
</block>
<block name="js">
	<script>
	$(function(){
		$('form').on('submit', function(event) {
			ajaxbypost($(this).attr('action'),$(this).serialize(),function(res){
				if (!res||res.status==0) {
					showerrormsg(res.data,1,900);
					return false;
				}
				showsuccessmsg('修改成功！请重新登陆！',1,900);
				setTimeout(function() {
					window.location.href="{:U('Login/logout')}";
				}, 1300);
				return false;
			},'json');
			return false;
		});
	});
	</script>
</block>