<extend name="Public/common"/>
<block name='content'>
	<div class="panel panel-success">
		<div class="panel-heading">
			<button id="additem" type="button" class="btn btn-success ">添加</button>
			<button id="updateitem" type="button" class="btn btn-warning" disabled>修改</button>
			<button id="delitem" type="button" class="btn btn-danger" disabled>删除</button>
		</div>
		<div class="table-responsive">
			<table class="table table-striped">
				<thead>
					<th >
						<input type="checkbox" id="select-all"></th>
					<th  class="text-center" >关键字</th>
					<th  class="text-center">配置项</th>
					<th  class="text-center">单次数量</th>
					<th  class="text-center">周期</th>
					<th  class="text-center">添加时间</th>
					<th  class="text-center">到期时间</th>
					<th class="text-center">状态</th>
					<th class="text-center">已收录</th>
					<th class="text-center">操作</th>
				</thead>
				<tbody>
					<foreach name='res.list' item='v'>
						<tr data-id="{$v['Id']}">
							<td>
								<input type="checkbox"  class="check-item" value="{$v['Id']}"></td>
							<td  class="text-center">{$v['KeyWords']}</td>
							<td  class="text-center">{$v['ConfigName']}</td>
							<td  class="text-center">{$v['SingleCount']}</td>
							<td  class="text-center">{$v['Cycle']/(24*60*60)}</td>
							<td  class="text-center">{:date('Y/m/d H:i',$v['AddTime'])}</td>
							<td  class="text-center">{:date('Y/m/d H:i',$v['ExpireTime'])}</td>
							<td  class="text-center">{$v['StatusNote']}</td>
							<td  class="text-center " data-count>查询中...</td>
							<td  class="text-center">
								<a target="_blank" href="{:U('record',array('id'=>$v['Id']))}" style="display:none;">查看记录</a>
							</td>
						</tr>
					</foreach>
				</tbody>
			</table>
		</div>
		<div class="page pull-right">{$res['page']}</div>
	</div>
</block>
<block name="js">
	<script type="text/javascript">
	function getCount(){
		var tsls=$('tbody').find('tr');
		$.each(tsls, function(index, val) {
			 var thisid=$(this).attr('data-id');
			 ajaxbypost("{:U('getCount')}",{id:thisid},function(res,thisid){
			 	if(!res||!res.status||res.data==0){
			 		res.data=0;
			 		$('tr[data-id="'+thisid+'"]').find('a').hide();
			 	}else{
			 		$('tr[data-id="'+thisid+'"]').find('a').show();
			 	}
			 	$('tr[data-id="'+thisid+'"]').find('td[data-count]').text(res.data);
			 	$('tr[data-id="'+thisid+'"]').removeAttr('data-id');
			 },'json',thisid);
		});
	}
	$(function(){
		initPagination();
		getCount();
	})
</script>
</block>