<extend name="Public/common"/>
<block name='content'>
	<div class="panel panel-info">
		<div class="panel-heading">
			<form class="form-inline " role="form" action="{:U('index')}">
			<div class="form-group">
					<select name="type" class="form-control">
						<option value="">全部日志</option>
						<option value="2" {$type==2?'selected':''}>用户日志</option>
						<option value="1" {$type==1?'selected':''}>爬虫日志</option>
					</select>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" name="wd" placeholder="内容" value="{:htmlspecialchars($wd)}"></div>
				<div class="form-group">
					<button type="submit" class="btn btn-default btn-expend"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-striped table-hover">
				<thead>
					<th >
						#</th>
					<th  class="text-center" >时间</th>
					<th  class="">内容</th>
					<th  class="text-center">类型</th>
				</thead>
				<tbody>
					<volist name="res.list" id="v">
						<tr data-id="{$v['Id']}">
							<td>{$v['Id']}</td>
							<td   class="text-center">{:date('Y/m/d H:i:s',$v['AddTime'])}</td>
							<td wd class="">{$v['Contents']}</td>
							<td  class="text-center">{$v['TypeName']}</td>
						</tr>
					</volist>
				</tbody>
			</table>
		</div>
		<div class="page pull-right">{$res['page']}</div>
	</div>
</block>
<block name="js">
	<script>
	$(function(){
		selectwd();
		initPagination();
	});
	</script>
</block>