</div>


<div class="modal fade" id="settingModal" tabindex="-1" role="dialog" aria-labelledby="settingModalLabel" aria-hidden="false">
</div>
<footer>
<div class="container">
	<div class="row hidden-xs">
		<div class="col-md-12 text-center text-p">
			<a href="http://weibo.com/nener1107" target="_blank">
				Copyright &copy; {:date('Y')}, Nener
			</a>
		</div>
	</div>
	<div class="row visible-xs-inline">
		<div class="col-md-12 text-center text-p">
			<a href="http://weibo.com/nener1107" target="_blank">
				Copyright &copy; {:date('Y')}, Nener
			</a>
		</div>
	</div>
</div>
</footer>
<div  class="loadingimg" ><img src="__PUBLIC__/img/loading.gif" /></div>
<script src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
<script src="__PUBLIC__/js/bootstrap.min.js"></script>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/html5shiv.min.js"></script>
<script src="__PUBLIC__/js/1.4.2/respond.min.js"></script>
<![endif]-->
<script src="__PUBLIC__/js/crawler.js"></script>
<script>
	function submitsettingform(){
		$('form[setting]').on('submit', function(event) {
			ajaxbypost($(this).attr('action'),$(this).serialize(),function(res){
				if (!res||res.status==0) {
					showerrormsg('保存失败！',1,900);
					return false;
				}
				showsuccessmsg('OK!',1,900);
				$('#settingModal').modal('hide');
				return false;
			},'json');
			return false;
		});
	}
	$(function(){

		$('#settingnav').on('click',function(event) {
			ajaxbyget($(this).attr('geturl'),"",function(res){
				if (!res||res.status==0||!res.data) {
					showerrormsg('加载配置失败！',1,900);
					return false;
				}else{
					loadingimg();
					$('#settingModal').html(res.data);
					$('#settingModal').modal('show');
					submitsettingform();

				}
			},'json');
		});
		$('#settingModal').on('shown.bs.modal',  function(event) {
			removeloadingimg();
		});

		$('#settingModal').on('hidden.bs.modal',  function(event) {
			$(this).removeData("bs.modal");
		});
	});
</script>
<!--[if lt IE 9]>
	<style>
		.container{
			width: 1170px;
		}
	</style>
<![endif]-->
<!-- 额外js -->
<block name="js"></block>
</body>
</html>