<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="copyright" content="Nener">
	<meta name="author" content="Nener -周孟">
	<title>智能爬虫
		<if condition="$title">-{$title}</if></title> 
	<!-- Bootstrap Core CSS -->
	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
	<link href="__PUBLIC__/css/normalize.min.css" rel="stylesheet">
	<!-- Custom CSS -->
	<link href="__PUBLIC__/css/crawler.css" rel="stylesheet">
	<link rel="shortcut icon" href="__PUBLIC__/img/favicon.png" type="image/x-icon" >
	<block name="css"></block>
</head>
<body>
	<!-- 页身 -->
	<div id="wrap">
		<div id="main" class="container">
			<block name="content"></block>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row hidden-xs">
				<div class="col-md-12 text-center text-p">
					<a href="http://weibo.com/nener1107" target="_blank">Copyright &copy; {:date('Y')}, Nener</a>
				</div>
			</div>
			<div class="row visible-xs-inline">
				<div class="col-md-12 text-center text-p">
					<a href="http://weibo.com/nener1107" target="_blank">Copyright &copy; {:date('Y')}, Nener</a>
				</div>
			</div>
		</div>
	</footer>
	<div  class="loadingimg" >
		<img src="__PUBLIC__/img/loading.gif" />
	</div>
	<script src="__PUBLIC__/js/jquery-1.11.2.min.js"></script>
	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="__PUBLIC__/js/html5shiv.min.js"></script>
	<script src="__PUBLIC__/js/1.4.2/respond.min.js"></script>
	<![endif]-->
	<script src="__PUBLIC__/js/crawler.js"></script>
	<!--[if lt IE 9]>
	<style>
		.container{
			width: 1170px;
		}
	</style>
	<![endif]-->
	<!-- 额外js -->
	<block name="js"></block>
</body>
</html>